@model MyWebAPI.Data.ViewModels.Schedule.LichGiangDayVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@* d-md-flex justify-content-md-end *@
<div id="Course" class="col-2 position-fixed d-sm-block d-none">
    @Html.ValidationMessage("Error")
    <div id="list" class="card align-items-center mt-2">
        @foreach (var items in Model.giangDays)
        {
            if (!items.onSchedule)
            {
                <div draggable="true" class="item">
                    <div type="text" class="form-control shadow-sm" data-sttbuoi="@items.sttbuoithuchanh" data-manhom="@items.manhomhp">
                        Buổi @items.sttbuoithuchanh @items.manhomhp
                    </div>
                </div>
            }
        }
    </div>
</div>

<div class="row">
    <div id="schedule" data-hknh="@Model.hknh" data-mscb="@Model.mscb" class="col-sm-9 offset-sm-3 col-12">
        @{
            var week = Model.sotuan;
            var ngaybatdau = Model.ngaybatdauhk;
            var date = new DateTime(2023, 01, 01);
            date = new DateTime(ngaybatdau.Year, ngaybatdau.Month, ngaybatdau.Day);

            var toDay = date.AddDays(0);
            var oDay = toDay;

            for (int i = 0; i < week; i++)
            {
                <div class="table-responsive">
                    <table class="align-middle table table-bordered border-default text-center mt-2">
                        <thead>
                            <tr>
                                <th scope="col" rowspan="2">
                                    <label for="" class="text-danger">Tuần @(i + 1)</label>
                                </th>
                                <th class="py-2" scope="col">T2</th>
                                <th class="py-2" scope="col">T3</th>
                                <th class="py-2" scope="col">T4</th>
                                <th class="py-2" scope="col">T5</th>
                                <th class="py-2" scope="col">T6</th>
                                <th class="py-2" scope="col">T7</th>
                                <th class="py-2" scope="col">CN</th>
                            </tr>
                            <tr class="date">
                                @{
                                    var wDay = oDay.AddDays(i * 7);
                                    toDay = wDay;

                                    for (int j = 1; j <= 7; j++)
                                    {
                                        <th>
                                            @{
                                                Write(toDay.ToString("dd/MM/yyyy"));
                                                toDay = toDay.AddDays(1);
                                            }
                                        </th>
                                    }
                                }
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @{
                                    toDay = wDay;
                                }
                                <th scope="row">Sáng</th>
                                @for (int j = 1; j <= 7; j++)
                                {
                                    if (Model.ngaynghis.Contains(toDay))
                                    {
                                        <td class="box dayoff bg-dark-subtle" data-tuan="@(i + 1)" data-ngay="@toDay" data-buoi="Morning">
                                            @foreach (var lichs in Model.lichThucHanhs)
                                            {
                                                if (lichs.ngaythuchanh.Equals(toDay) && lichs.buoi == "Morning" && lichs.onSchedule)
                                                {
                                                    <div draggable="true" class="item">
                                                        <div type="text" class="form-control shadow-sm" data-sttbuoi="@lichs.sttbuoithuchanh" data-manhom="@lichs.manhomhp">
                                                            Buổi @lichs.sttbuoithuchanh @lichs.manhomhp
                                                        </div>
                                                    </div>
                                                }
                                            }
                                            @{
                                                toDay = toDay.AddDays(1);
                                            }
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="box" data-tuan="@(i + 1)" data-ngay="@toDay" data-buoi="Morning">
                                            @foreach (var lichs in Model.lichThucHanhs)
                                            {
                                                if (lichs.ngaythuchanh.Equals(toDay) && lichs.buoi == "Morning" && lichs.onSchedule)
                                                {
                                                    <div draggable="true" class="item">
                                                        <div type="text" class="form-control shadow-sm" data-sttbuoi="@lichs.sttbuoithuchanh" data-manhom="@lichs.manhomhp">
                                                            Buổi @lichs.sttbuoithuchanh @lichs.manhomhp
                                                        </div>
                                                    </div>
                                                }
                                            }
                                            @{
                                                toDay = toDay.AddDays(1);
                                            }
                                        </td>
                                    }
                                }
                            </tr>
                            <tr>
                                @{
                                    toDay = wDay;
                                }
                                <th scope="row">Chiều</th>
                                @for (int j = 1; j <= 7; j++)
                                {
                                    if (Model.ngaynghis.Contains(toDay))
                                    {
                                        <td class="box dayoff bg-dark-subtle" data-tuan="@(i + 1)" data-ngay="@toDay" data-buoi="Afternoon">
                                            @foreach (var lichs in Model.lichThucHanhs)
                                            {
                                                if (lichs.ngaythuchanh.Equals(toDay) && lichs.buoi == "Afternoon" && lichs.onSchedule)
                                                {
                                                    <div draggable="true" class="item">
                                                        <div type="text" class="form-control shadow-sm" data-sttbuoi="@lichs.sttbuoithuchanh" data-manhom="@lichs.manhomhp">
                                                            Buổi @lichs.sttbuoithuchanh @lichs.manhomhp
                                                        </div>
                                                    </div>
                                                }
                                            }
                                            @{
                                                toDay = toDay.AddDays(1);
                                            }
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="box" data-tuan="@(i + 1)" data-ngay="@toDay" data-buoi="Afternoon">
                                            @foreach (var lichs in Model.lichThucHanhs)
                                            {
                                                if (lichs.ngaythuchanh.Equals(toDay) && lichs.buoi == "Afternoon" && lichs.onSchedule)
                                                {
                                                    <div draggable="true" class="item">
                                                        <div type="text" class="form-control shadow-sm" data-sttbuoi="@lichs.sttbuoithuchanh" data-manhom="@lichs.manhomhp">
                                                            Buổi @lichs.sttbuoithuchanh @lichs.manhomhp
                                                        </div>
                                                    </div>
                                                }
                                            }
                                            @{
                                                toDay = toDay.AddDays(1);
                                            }
                                        </td>
                                    }
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
                
            }
        }
    </div>
</div>
